.divContenedor{
  font-size: x-large;
  background-color: rgb(255, 255, 255);
  height: 70px;
  width: 1364px;
  display: grid;
  grid-template-columns: 100px 130px 100px 150px 100px;
  text-align: center;
  align-content: center;
  margin-bottom: 563px;
}